.header{
    height: 95vh;
   background-image: linear-gradient(to right bottom, 
   $color-primary-light,
   $color-primary),
   url(../images/homepageBackground.jpg);
   background-size:  cover;
   background-position: top; /* what of the size of the view page the image will always start from the top and stay there */
   position: relative;
   -webkit-clip-path:polygon(0 0,100% 0,100% 75vh,0 100%);
   clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
   
   &__logo-box{
       position:absolute;
       top: 40px;
       left: 40px;
   }
    
   &__logo{
   
       height:35px;
       
       }
   &__text-box{
           position: absolute;
           top:40%;
           left: 50%;
           transform: translate(-50%, -50%); /*It moves the element 50% of its own width to the left . It is not relative or absolute to its parent rather it moves relative to its center */
       /*as the btn element is a a element it is considered as a inline text element so you can center it with text decorations*/
       text-align: center;
       
       
       }
   
   }
   
   
   //Gaming Page HEader
   .gaming-header{
      
       height: 30vh;
       text-align: center;
       position: relative;
     
   }