@mixin clearfix{

    &::after{
        content:"";
        display: table;
        clear: both;
    }

}
    
@mixin game-button-transition-all {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
  }