.memory-game{
   &-body{
    background-repeat: no-repeat;
    
    background-size: cover;
    //background-color: #d3d3d3;
    background-image: linear-gradient(45deg, #bef0ce 20%, #95ecc8 100%);
    

          
   }
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 100rem;
}