.memory-game{
   &-body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../images/MemoryGame/bg.png);
   }
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 100rem;
}