.voiceQuizBody{
    background: #2f3542 url('../images/voiceQuiz/bg.jpg') no-repeat left center/cover;
    min-height: 100vh;
    color: #ffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.micImage{
    width: auto;
    height: auto;
}