
*{
    margin: 0;
    padding: 0;
}

.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(image/garden_background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.game_modal{
    width: 900px;
    height: 550px;
    position: relative;
    margin: 3% auto;
    background-color: white;
    border-radius: 20px;
    /* overflow: hidden; */
}

.header{
    position: relative;
    margin: auto;
    text-align: center;
}

.letter
{
    /* background-color: blueviolet; */
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.draggables_apple{
    position: relative;
    margin: auto;
    left: 22%;
}

.draggables_orange{
    position: relative;
    margin: auto;
    left: 19%;
}

.draggables_car{
    position: relative;
    margin: auto;
    left: 35%;
}

.referencePic
{
    height: 250px;
    width: 250px;
    left: 35%;
    position: relative;
}
.correct
{
    height: 160px;
    width: 150px;
    padding-bottom: 2px;
    margin-left: 30px;
}

.cross
{
    height: 80px;
    width: 80px;
    padding-bottom: 2px;
    margin-left: 30px;
}

.boxes_apple{
    position: relative;
    margin: auto;
    left: 15%;
}

.boxes_orange{
    position: relative;
    margin: auto;
    left: 8%;
}

.boxes_car{
    position: relative;
    margin: auto;
    left: 30%;
}

.box
{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 5px; 
    border: 5px cornflowerblue solid;
    border-radius: 10px;
    background-color: antiquewhite;
    position: relative;
}

.hide 
{
    display: none;
}

.drag-over 
{
    border: dashed 3px red;
}

.done_btn_apple
{
    font-size: large;
    margin-left: 10%; 
    margin-top: 50%;
    background-color: rgb(209, 233, 245);
    border-radius: 10pt;
    margin-left: 15px;
    margin-top: 5px;
    height: 50px;
    width: 80px;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.next_btn
{
    font-size: large;
    margin-left: 70%; 
    margin-top: 50%;
    background-color: bisque;
    border-radius: 10pt;
    margin-left: 15px;
    margin-top: 5px;
    height: 50px;
    width: 80px;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.done_btn_apple:hover
{
    background-color: black;
    color: white
}

.next_btn:hover
{
    background-color: black;
    color: white
}

.done_btn_apple:active 
{
    transform: translateY(4px);
}
.next_btn:active 
{
    transform: translateY(4px);
}
