
*{
    margin: 0;
    padding: 0;
}

.background{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(247, 129, 129, 0.6), rgba(189, 102, 160, 0.6)), url(image/garden_background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.game_modal{
    width: 900px;
    height: 550px;
    position: relative;
    margin: 3% auto;
    background-color: white;
    border-radius: 20px;
    border: solid 3px blueviolet;
}

.header{
    position: relative;
    margin: auto;
    text-align: center;
}

.letter
{
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.draggables_apple {margin-left: 22%;}

.draggables_orange {margin-left: 19%;}

.draggables_car {margin-left: 34%;}

.draggables_rose {margin-left: 27%;}

.draggables_tree {margin-left: 27%;}

.draggables_mug {margin-left: 34%;}

.draggables_cupcake {margin-left: 10%;}

.draggables_books {margin-left: 22%;}

.referencePic
{
    height: 250px;
    width: 250px;
    left: 35%;
    position: relative;
}

.correct
{
    height: 160px;
    width: 165px;
    padding-bottom: 2px;
    margin-left: 100px;
}

.cross
{
    height: 80px;
    width: 80px;
    padding-bottom: 2px;
    margin-left: 30px;
}

.box
{
    position: relative;
    margin: auto;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 5px; 
    border: 5px cornflowerblue solid;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.boxes_apple {margin-left: 15%;}

.boxes_orange {margin-left: 15%;}

.boxes_car {margin-left: 30%;}

.boxes_rose {margin-left: 22%;}

.boxes_tree {margin-left: 22%;}

.boxes_mug {margin-left: 30%;}

.boxes_cupcake {margin-left: 2%;}

.boxes_books {margin-left: 15%;}

.hide {display: none;}

.drag-over 
{
    border: dashed 3px red;
}

#done_btn
{
    margin-left: 70%;
}

#hint_btn {margin-top: 10px;}

.btn:hover
{
    background-color: rgb(46, 41, 68);
    color: rgb(241, 195, 241);
}
.btn:active
{
    transform: translateY(4px);
}
.btn
{
    font-size: large;
    border-radius: 10pt;
    margin-left: 15px;
    /* margin-top: 5px; */
    height: 50px;
    width: 80px;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

