.score-container {
    position: absolute;
    background-color: rgba(71, 197, 77, 0.3);
    top: 7rem;
    right: 2rem;
    font-size: 30px;
    color: #2a0879;
    box-shadow: 5px 10px 18px rgb(6, 190, 104);
    border-radius: 4px;
    padding: 10px;
  }
  