.typing-settings{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    height: 7rem;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    

    
}

.typing-settings .settings-hide{
    transform: translateY(-100%);
}