//animation for the Heading in the home page
@keyframes moveInLeft{
    0%{
        opacity: 0; /*staring time the element should be invisible.*/
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0); /* 0 means what it exactly looks without animation*/
    }
}


//animation for the homepage sub hading

@keyframes moveInRight{
    0%{
        opacity: 0; /*staring time the element should be invisible.*/
        transform: translateX(100%);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0); /* 0 means what it exactly looks without animation*/
    }
}   

//Animation for the button in the home page header
@keyframes moveInButton{
    0%{
        opacity: 0; /*staring time the element should be invisible.*/
        transform: translateY(100%);
    }
    
    100%{
        opacity: 1;
        transform: translate(0); /* 0 means what it exactly looks without animation*/
    }
}  

//Animation For overlay 
@keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 10em;
    }
  }
//animation for matched cards in the mix and match game
  @keyframes dance {
    0%, 100% {
      transform: rotate(0)
    }
    25% {
      transform: rotate(-30deg)
    }
    75% {
      transform: rotate(30deg)
    }
  }


  //Text glow Effect
  @-webkit-keyframes glowText {
    from {
      text-shadow: 5px 5px 0px #eb452b,
      10px 10px 0px #efa032,
      15px 15px 0px #46b59b,
      20px 20px 0px #017e7f,
      25px 25px 0px #052939,
      30px 30px 0px #c11a2b,
      35px 35px 0px #c11a2b,
      40px 40px 0px #c11a2b,
      45px 45px 0px #c11a2b;
    }
    
    to {
      text-shadow: 5px 5px 0px #eb452b,
      10px 10px 10px #efa032,
      15px 15px 20px #46b59b,
      20px 20px 30px #017e7f,
      25px 25px 40px #052939,
      30px 30px 50px #c11a2b,
      35px 35px 60px #c11a2b,
      40px 40px 70px #c11a2b,
      45px 45px 80px #c11a2b;
    }
  }