*,
*::after,
*::before {  
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /*This means all the borders and paddings will not be added to the main width of the element */ 
}
html{
    //this defines what 1 rem is
    font-size: 62.5%;
}

body{
 
    box-sizing: border-box;

}