body{
    margin:0px;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(221, 205, 205);
    position: absolute;
    background-image: url(../images/ConnectDotsGame/bg.png);
}
.dotsCanvas{
    box-shadow: -3px 2px 9px 6px black;
    background: rgb(73, 219, 85);
    cursor:pointer;
    z-index: 1;
}
.tools{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 15px;
    position: relative;
    

}
.tools .color-button{
    height:40px;
    width:40px;
    min-width: 40px;
    min-height: 40px;
    cursor:pointer;
    display: inline-block;
    border-radius:50%;
    box-sizing: border-box;
    border: 2px solid white;
    align-self: center;
    margin-top: 40px;
}
.tools .button{
    align-self: center;
    width:100px;
    height: 100px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background:#222;
    font-weight: bold;
    margin: 0 10px;
    
   
}
.color-picker{
    align-self: center;
    margin:0 10px;
    height:50px;
    margin-top: 40px;


}

.pen-range{
    align-self: center;
    height:50px;
    margin-top: 40px;

}
.score_container{
    display: flex;
    justify-content:center;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    color:#01962e;
}
/* .dotsButton{
    margin: 10px;
    color: black;
    background: yellow;
    font-weight: 200;
    border-radius: 10px;
    height: 50px;
    width: 100px;
} */
.hint{
position: absolute;
left:80%;
top:5%;
z-index: 10;
font-size: 300px;
color:#ffb900;

}
.dotsHeading{
   
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(32, 5, 133);
    
   
}

/* buttons */

.dotsButton {background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%)}
.dotsButton {
   margin: 10px;
   margin-top: 40px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   font-weight: 700;
 }

 .dotsButton:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

