body {
    background-color: #8294b3;
    margin: 0px;
    padding: 0px;
}

.iframe-container,
iframe {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    background-color: #777;
}

iframe {
    display: block;
    border-style: none;
    height: 100%;
    width: 100%;
}


/* 
.iframe-container {
    position: relative;
    display: inline-flex;
    margin: 0 auto;
    margin-bottom: 0%;
    width: 100%;
    padding: 0px;
    padding-bottom: 56.25%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    text-align: center;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    margin-bottom: 0%;
    align-items: center;
    margin: 0 auto;
} */

h3 {
    text-align: center;
    font-family: fantasy;
    font-size: large;
}

.banner {
    background-color: #13274F;
    width: 2550px;
    height: 150px;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}